.buttonMenu{
	background-color: #464850;
	border: none;
	border-bottom: 1px solid lightgrey;
	color: lightgrey;
	text-align: left;
	display: inline-block;
	font-size: 16px;
	transition-duration: 0.2s;
	font-family: Arial;
	width: 200px;
	height: 50 px;
} 

.buttonMenu:hover{
	background-color:grey;
	color: #FDFCFC;
}

.buttonMenuWithUndercategory{
	 background-color: #1870d5;
  border: none;
  border-bottom: 1px dashed lightgrey;
  color: black;
  text-align: centre;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  font-family:Arial;
  width: 200px;
  height: 50px;
  border-radius:5%;
}

.buttonMenuWithUndercategory:hover{
	background-color:#E0E1E4;
	color:#	black;
}

.buttonSecondMenu {
  background-color: #464850;
  border: none;
  border-bottom: 1px dashed lightgrey;
  color: lightgrey;
  text-align: right;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  font-family:Arial;
  width: 200px;
  height: 30px;
}

.buttonSecondMenu:hover {
  background-color: grey;
  color: #FDFCFC;
}

.buttonLastSecondMenu {
  background-color: #464850;
  border: none;
  border-bottom: 2px solid lightgrey;
  color: lightgrey;
  text-align: right;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  font-family:Arial;
  width: 200px;
  height: 30px;
}

.buttonLastSecondMenu:hover {
  background-color: grey;
  color: #FDFCFC;
}
.buttonActivMenu {
  background-color: #797c88;
  border: none;
  border-bottom: 1px solid lightgrey;
  color: lightgrey;
  text-align: left;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  font-family:Arial;
  width: 200px;
  height: 50px;
}

.emergency_button{
	position:absolute;
	 background-color: #FF0000;
  border: none;
  color: lightgrey;
  text-align: centre;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  font-family:Arial;
  left:5px;
  top:750px;
  width: 190px;
  height: 150px;
  border-radius:25%;
}

.emergency_button:hover{
	background-color: white;
	color:red;
}


