* {
    margin: 0;
    padding: 0;
}
.logo img {
    float: left;
    width: 200px;
    height: auto;
    transform: translate(-15%, -20%);
}


body{margin:0;}
 h1{font-size:2em;margin:0.67em 0;
    color: black;
    transform: translate(-5%, -10%);
} 

h2{
    color: black;
    font-size: 46px;
    position: absolute;
    transform: translate(50%, -55%);
    color: #1870d5;
    
}

.heading{
    color: grey;
    text-align: center;
    transform: translate(-23%, 140%);
    font-size: 16px;
}


* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.page {
  width: 21cm;
  min-height: 29.7cm;
  padding: 2cm;
  margin: 1cm auto;
  border: 1px #BEBEBE solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.subpage {
  padding: 1cm;
  border: 5px red solid;
  height: 256mm;
  outline: 2cm #FFEAEA solid;
}

@page {
  size: A4;
  margin: 0;
}

@media print {
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    background: initial;
    page-break-after: always;
  }
}

  
 
body {font-family:Source Sans Pro,Arial;
  color:#2A2B2A;background:#ECEFF0;} 

select:focus,input:focus,textarea:focus{outline:2px solid #4DA1A9;}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  font-family: Arial;

  
}

input[type=submit] {
  background-color: #FF0000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FF0000;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
